## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,Jan-99,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# value counts for status column (to be dropped)
application_df["STATUS"].value_counts()

STATUS
1    34294
0        5
Name: count, dtype: int64

In [3]:
# value counts for special claims considerations column (to be dropped)
application_df["SPECIAL_CONSIDERATIONS"].value_counts()

SPECIAL_CONSIDERATIONS
N    34272
Y       27
Name: count, dtype: int64

STATUS AND SPECIAL_CONSIDERATIONS CAN BE DROPPED SINCE there are small percentages of projects that are in the minority catergories

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
# Drop the non-beneficial ID columns, 'EIN' and other non-beneficial columns
application_df = application_df.drop(["EIN"], axis=1)
application_df = application_df.drop(["STATUS"], axis=1)
application_df = application_df.drop(["SPECIAL_CONSIDERATIONS"], axis=1)


application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,Jan-99,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [5]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [7]:
# Look at NAME value counts for binning
name_counts = application_df["NAME"].value_counts()

#How many name counts are greater than 5?
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                                        1260
TOPS CLUB INC                                                  765
UNITED STATES BOWLING CONGRESS INC                             700
WASHINGTON STATE UNIVERSITY                                    492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                408
                                                              ...
QUAIL FEDERATION INC                                             6
DEPARTMENT OF OREGON LADIES AUXILLARY TO THE VFW OF THE US       6
EAST VIEW SPORTS COALITION                                       6
FULBRIGHT ASSOCIATION INC                                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS                     6
Name: count, Length: 354, dtype: int64

In [8]:
# Determine which value counts to replace if counts are less than or equal to 5
names_to_replace = list(name_counts[name_counts <=5].index)

# Replace in dataframe
for app in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

NAME
Other                                                 20043
PARENT BOOSTER USA INC                                 1260
TOPS CLUB INC                                           765
UNITED STATES BOWLING CONGRESS INC                      700
WASHINGTON STATE UNIVERSITY                             492
                                                      ...
SOCIETY FOR CREATIVE ANACHRONISM                          6
CBMC INC                                                  6
FAMILY CAREER AND COMMUNITY LEADERS OF AMERICA INC        6
NATIONAL CHARITY LEAGUE INC                               6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC                 6
Name: count, Length: 355, dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Determine which values to replace if application counts are less than 500
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [12]:
# Determine which values to replace if counts are less than 1000
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [13]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

['NAME',
 'APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [14]:
#perform one-hot encoding on the data
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,NAME_ALPHA PHI OMEGA,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,INCOME_AMT_Jan-99
0,5000,1,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
1,108590,1,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,5000,0,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False

In [15]:
#split our preprocessed data into our features and target arrays
x = application_with_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values
y = application_with_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y)

In [16]:
#create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(x_train)  # Use x_train instead of X_train

# Scale the data
X_train_scaled = X_scaler.transform(x_train)  # Use x_train instead of X_train
X_test_scaled = X_scaler.transform(x_test)  # Use x_test instead of X_test

In [18]:
# Define the model - deep neural net
number_input_features = len(x_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 10

nn = tf.keras.models.Sequential()

#First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

#Second hiddel layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

#Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                          Output Shape                         Param #

 dense (Dense)                         (None, 80)                            31,680

 dense_1 (Dense)                       (None, 10)                               810

 dense_2 (Dense)                       (None, 10)                               110

 dense_3 (Dense)                       (None, 1)                                 11

 Total params: 32,611 (127.39 KB)

 Trainable params: 32,611 (127.39 KB)

 Non-trainable params: 0 (0.00 B)

In [19]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [20]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804  4s 2ms/step - accuracy: 0.7203 - loss: 0.5782
Epoch 2/100
804/804  2s 2ms/step - accuracy: 0.7855 - loss: 0.4547
Epoch 3/100
804/804  3s 2ms/step - accuracy: 0.7891 - loss: 0.4427
Epoch 4/100
804/804  4s 4ms/step - accuracy: 0.7954 - loss: 0.4342
Epoch 5/100
804/804  5s 4ms/step - accuracy: 0.7967 - loss: 0.4302
Epoch 6/100
804/804  3s 4ms/step - accuracy: 0.7954 - loss: 0.4307
Epoch 7/100
804/804  4s 3ms/step - accuracy: 0.7995 - loss: 0.4262
Epoch 8/100
804/804  2s 3ms/step - accuracy: 0.7991 - loss: 0.4195
Epoch 9/100
804/804  2s 2ms/step - accuracy: 0.7932 - loss: 0.4274
Epoch 10/100
804/804  2s 2ms/step - accuracy: 0.8025 - loss: 0.4170
Epoch 11/100
804/804  3s 2ms/step - accuracy: 0.7928 - loss: 0.4265
Epoch 12/100
804/804  2s 2ms/step - accuracy: 0.7944 - loss: 0.4256
Epoch 13/100
804/804  3s 3ms/step - accuracy: 0.7997 - loss: 0.4223
Epoch 14/100
804/804  4s 2ms/step - accuracy: 0.7983 - loss: 0.4214
Epoch 15/100
804/804  3s 2ms/step - accuracy: 0.7986 - loss: 0.4223
Epoch 16/100
804/804  3s 2ms/step - accuracy: 0.8000 - loss: 0.4201
Epoch 17/100
804/804  3s 3ms/step - accuracy: 0.8048 - loss: 0.4170
Epoch 18/100
804/804  2s 2ms/step - accuracy: 0.7976 - loss: 0.4237
Epoch 19/100
804/804  3s 2ms/step - accuracy: 0.8020 - loss: 0.4150
Epoch 20/100
804/804  2s 2ms/step - accuracy: 0.8048 - loss: 0.4121
Epoch 21/100
804/804  3s 3ms/step - accuracy: 0.7924 - loss: 0.4260
Epoch 22/100
804/804  3s 3ms/step - accuracy: 0.8008 - loss: 0.4187
Epoch 23/100
804/804  2s 2ms/step - accuracy: 0.8014 - loss: 0.4192
Epoch 24/100
804/804  3s 2ms/step - accuracy: 0.8003 - loss: 0.4163
Epoch 25/100
804/804  2s 2ms/step - accuracy: 0.7994 - loss: 0.4158
Epoch 26/100
804/804  2s 2ms/step - accuracy: 0.8025 - loss: 0.4160
Epoch 27/100
804/804  4s 3ms/step - accuracy: 0.7993 - loss: 0.4188
Epoch 28/100
804/804  2s 2ms/step - accuracy: 0.8034 - loss: 0.4106
Epoch 29/100
804/804  2s 2ms/step - accuracy: 0.7990 - loss: 0.4158
Epoch 30/100
804/804  3s 2ms/step - accuracy: 0.8033 - loss: 0.4149
Epoch 31/100
804/804  3s 2ms/step - accuracy: 0.8027 - loss: 0.4151
Epoch 32/100
804/804  3s 3ms/step - accuracy: 0.8018 - loss: 0.4103
Epoch 33/100
804/804  4s 2ms/step - accuracy: 0.8011 - loss: 0.4169
Epoch 34/100
804/804  2s 2ms/step - accuracy: 0.7999 - loss: 0.4184
Epoch 35/100
804/804  3s 2ms/step - accuracy: 0.8042 - loss: 0.4150
Epoch 36/100
804/804  2s 2ms/step - accuracy: 0.8014 - loss: 0.4120
Epoch 37/100
804/804  3s 4ms/step - accuracy: 0.8035 - loss: 0.4092
Epoch 38/100
804/804  2s 2ms/step - accuracy: 0.8020 - loss: 0.4122
Epoch 39/100
804/804  3s 2ms/step - accuracy: 0.8013 - loss: 0.4130
Epoch 40/100
804/804  2s 2ms/step - accuracy: 0.8008 - loss: 0.4131
Epoch 41/100
804/804  3s 2ms/step - accuracy: 0.8023 - loss: 0.4136
Epoch 42/100
804/804  2s 3ms/step - accuracy: 0.7999 - loss: 0.4173
Epoch 43/100
804/804  2s 3ms/step - accuracy: 0.8002 - loss: 0.4126
Epoch 44/100
804/804  2s 2ms/step - accuracy: 0.8016 - loss: 0.4138
Epoch 45/100
804/804  3s 2ms/step - accuracy: 0.8026 - loss: 0.4107
Epoch 46/100
804/804  2s 2ms/step - accuracy: 0.8029 - loss: 0.4138
Epoch 47/100
804/804  3s 3ms/step - accuracy: 0.8042 - loss: 0.4109
Epoch 48/100
804/804  3s 3ms/step - accuracy: 0.8025 - loss: 0.4144
Epoch 49/100
804/804  2s 2ms/step - accuracy: 0.8035 - loss: 0.4095
Epoch 50/100
804/804  3s 2ms/step - accuracy: 0.8041 - loss: 0.4115
Epoch 51/100
804/804  3s 2ms/step - accuracy: 0.8040 - loss: 0.4118
Epoch 52/100
804/804  2s 2ms/step - accuracy: 0.8012 - loss: 0.4097
Epoch 53/100
804/804  3s 3ms/step - accuracy: 0.8059 - loss: 0.4065
Epoch 54/100
804/804  2s 2ms/step - accuracy: 0.8061 - loss: 0.4060
Epoch 55/100
804/804  3s 2ms/step - accuracy: 0.8013 - loss: 0.4154
Epoch 56/100
804/804  2s 2ms/step - accuracy: 0.8010 - loss: 0.4136
Epoch 57/100
804/804  3s 2ms/step - accuracy: 0.8008 - loss: 0.4135
Epoch 58/100
804/804  3s 3ms/step - accuracy: 0.8035 - loss: 0.4110
Epoch 59/100
804/804  2s 2ms/step - accuracy: 0.8018 - loss: 0.4121
Epoch 60/100
804/804  2s 2ms/step - accuracy: 0.8045 - loss: 0.4120
Epoch 61/100
804/804  3s 2ms/step - accuracy: 0.8027 - loss: 0.4101
Epoch 62/100
804/804  3s 2ms/step - accuracy: 0.8020 - loss: 0.4127
Epoch 63/100
804/804  3s 3ms/step - accuracy: 0.8049 - loss: 0.4105
Epoch 64/100
804/804  2s 2ms/step - accuracy: 0.8058 - loss: 0.4063
Epoch 65/100
804/804  2s 2ms/step - accuracy: 0.8024 - loss: 0.4087
Epoch 66/100
804/804  3s 2ms/step - accuracy: 0.8048 - loss: 0.4087
Epoch 67/100
804/804  3s 2ms/step - accuracy: 0.8006 - loss: 0.4156
Epoch 68/100
804/804  3s 3ms/step - accuracy: 0.8033 - loss: 0.4132
Epoch 69/100
804/804  2s 3ms/step - accuracy: 0.8081 - loss: 0.4034
Epoch 70/100
804/804  2s 2ms/step - accuracy: 0.8012 - loss: 0.4121
Epoch 71/100
804/804  2s 2ms/step - accuracy: 0.8078 - loss: 0.4057
Epoch 72/100
804/804  3s 2ms/step - accuracy: 0.8038 - loss: 0.4075
Epoch 73/100
804/804  3s 3ms/step - accuracy: 0.8036 - loss: 0.4093
Epoch 74/100
804/804  3s 3ms/step - accuracy: 0.8090 - loss: 0.4032
Epoch 75/100
804/804  2s 2ms/step - accuracy: 0.8039 - loss: 0.4110
Epoch 76/100
804/804  2s 2ms/step - accuracy: 0.8054 - loss: 0.4096
Epoch 77/100
804/804  3s 2ms/step - accuracy: 0.8066 - loss: 0.4061
Epoch 78/100
804/804  3s 2ms/step - accuracy: 0.8080 - loss: 0.4040
Epoch 79/100
804/804  3s 3ms/step - accuracy: 0.8032 - loss: 0.4055
Epoch 80/100
804/804  2s 2ms/step - accuracy: 0.8049 - loss: 0.4082
Epoch 81/100
804/804  3s 2ms/step - accuracy: 0.7988 - loss: 0.4169
Epoch 82/100
804/804  2s 2ms/step - accuracy: 0.8058 - loss: 0.4060
Epoch 83/100
804/804  2s 2ms/step - accuracy: 0.8038 - loss: 0.4051
Epoch 84/100
804/804  4s 3ms/step - accuracy: 0.8023 - loss: 0.4093
Epoch 85/100
804/804  2s 2ms/step - accuracy: 0.8075 - loss: 0.4091
Epoch 86/100
804/804  3s 2ms/step - accuracy: 0.8037 - loss: 0.4104
Epoch 87/100
804/804  3s 2ms/step - accuracy: 0.8076 - loss: 0.4055
Epoch 88/100
804/804  2s 2ms/step - accuracy: 0.8057 - loss: 0.4052
Epoch 89/100
804/804  3s 3ms/step - accuracy: 0.8064 - loss: 0.4069
Epoch 90/100
804/804  2s 2ms/step - accuracy: 0.8026 - loss: 0.4084
Epoch 91/100
804/804  3s 2ms/step - accuracy: 0.8027 - loss: 0.4097
Epoch 92/100
804/804  2s 2ms/step - accuracy: 0.8056 - loss: 0.4059
Epoch 93/100
804/804  3s 2ms/step - accuracy: 0.8060 - loss: 0.4080
Epoch 94/100
804/804  3s 3ms/step - accuracy: 0.8063 - loss: 0.4071
Epoch 95/100
804/804  4s 2ms/step - accuracy: 0.8044 - loss: 0.4092
Epoch 96/100
804/804  2s 2ms/step - accuracy: 0.8049 - loss: 0.4079
Epoch 97/100
804/804  2s 2ms/step - accuracy: 0.8036 - loss: 0.4091
Epoch 98/100
804/804  3s 3ms/step - accuracy: 0.8058 - loss: 0.4095
Epoch 99/100
804/804  3s 3ms/step - accuracy: 0.8017 - loss: 0.4106
Epoch 100/100
804/804  2s 2ms/step - accuracy: 0.8073 - loss: 0.4074

In [21]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 2ms/step - accuracy: 0.7990 - loss: 0.4349
Loss: 0.43490251898765564, Accuracy: 0.7989504337310791

In [22]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

USE A RANDOM FOREST CLASSIFIER ON THE DATASET

In [23]:
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [24]:
# create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=128, random_state=78)

# fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

# Evaluate the model
y_pred = rf_model.predict(X_test_scaled)
print(f"Random forest model accuracy: {accuracy_score(y_test, y_pred):.3f}")

Random forest model accuracy: 0.785